body{
    background-color: #d3d3d3;
    direction: rtl;
}

#pic{
    float: right;
    max-width: 150px;
    max-height: 200px;

}
#description{
    margin-right: 10px;
    float: right;
}

#buy-now{
    background-color: #0ac829;
    color: #FFFFFF;
    float: left;
    margin-top:80px;
    width: 130px;
    height: 40px;
}

#ios ,#android {

    background-color: white;
    padding: 27px 40px 30px 30px;
    width: 470px;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 25px;
}

.modal-body{
    height: 320px;
}
